.wix-style-sample {
            	background: {{style._backgroundColor color-1}};
       		}
       		
       		.sample-content {
       		
            	{{style._descFont Body-M}}
            	color: {{style._descColor color-4}};
            	
        	}
        	
        	.sample-content-title	{
        		
        		{{style._titleFont Body-M}}
            	color: {{style._titleColor color-4}};
            	visibility: {{style._toggleTitle visible}};
        	
        	}
        	
        	.sample-content-link	{
        		
        		{{style._linkFont Body-M}}
            	color: {{style._linkColor color-4}};
            	text-decoration: none;
        	
        	}